/Lang/DotNet/Wrapper/*.cs
/Lang/DotNet/Wrapper/Release
/Lang/DotNet/Wrapper/Debug
/Lang/DotNet/Wrapper/obj
/Lang/DotNet/FdoDotNet/fdo_wrap.cpp
/Lang/DotNet/FdoDotNet/Debug
/Lang/DotNet/FdoDotNet/Release
/Lang/DotNet/FdoDotNet/FdoDotNet.opensdf
/Lang/DotNet/FdoDotNet/FdoDotNet.sdf
/Lang/DotNet/Bin
/Lang/DotNet/FdoDotNet/x64
/Lang/DotNet/FdoDotNet/Win32
/Lang/DotNet/Wrapper/x64
/Lang/DotNet/Wrapper/Win32
/Lang/DotNet/FdoDotNet.opensdf
/Lang/DotNet/FdoDotNet.sdf
/Lang/DotNet/packages/NUnit.Runners.2.6.3
/Lang/DotNet/packages/NUnit.2.6.3
/Lang/DotNet/UnitTest/obj
/Lang/DotNet/UnitTest/bin
/Lang/DotNet/UnitTest64/obj
/Lang/DotNet/UnitTest64/bin
