/Lang/DotNet/Wrapper/*.cs
/Lang/DotNet/Wrapper/Release
/Lang/DotNet/Wrapper/Debug
/Lang/DotNet/Wrapper/obj
/Lang/DotNet/FdoDotNet/fdo_wrap.cpp
/Lang/DotNet/FdoDotNet/Debug
/Lang/DotNet/FdoDotNet/Release
/Lang/DotNet/FdoDotNet/FdoDotNet.opensdf
/Lang/DotNet/FdoDotNet/FdoDotNet.sdf
/Lang/DotNet/Bin
/Lang/DotNet/FdoDotNet/x64
/Lang/DotNet/FdoDotNet/Win32
/Lang/DotNet/Wrapper/x64
/Lang/DotNet/Wrapper/Win32
/Lang/DotNet/FdoDotNet.opensdf
/Lang/DotNet/FdoDotNet.sdf
/Lang/DotNet/packages/NUnit.Runners.2.6.3
/Lang/DotNet/packages/NUnit.2.6.3
/Lang/DotNet/UnitTest/obj
/Lang/DotNet/UnitTest/bin
/Lang/DotNet/UnitTest64/obj
/Lang/DotNet/UnitTest64/bin
/Lang/DotNet/TestRunner64/bin
/Lang/DotNet/TestRunner64/obj
/Lang/DotNet/TestRunner/obj
/Lang/DotNet/TestRunner/bin
/Lang/DotNet/TestRunner64Dbg/obj
/Lang/DotNet/TestRunner64Dbg/bin
/Lang/DotNet/TestRunnerDbg/obj
/Lang/DotNet/TestRunnerDbg/bin
/Lang/DotNet/UnitTest64Dbg/obj
/Lang/DotNet/UnitTest64Dbg/bin
/Lang/DotNet/UnitTestDbg/obj
/Lang/DotNet/UnitTestDbg/bin
/Fdo/Debug64
/Lang/Python/FdoPython.sdf
/Lang/Python/FdoPython.opensdf
/Lang/Python/Bin
/Lang/Python/FdoPython/x64
/Lang/Python/FdoPython/fdo_wrap.cpp
/Fdo/Debug
/Lang/Python/FdoPython/Win32
/Lang/DotNet/FdoDotNet_AppVeyor.sdf
/Lang/DotNet/packages/xunit.runners.1.9.2
/Lang/DotNet/packages/xunit.1.9.2
/Lang/Python/UnitTest/Src/*.pyc
